doctype html
html(lang="en")
    head
        title Digital
                
    body 
        header 
            nav        
                ul
                    li
                     h1 
                        a(href='/') Accueil
                    li
                     h1 
                        a(href='/contact') contact 
                    li
                     h1
                        a(href='/services') Services 
        block content 